<div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <h1>Fill This Form </h1>
        <form class="form">
            <mat-form-field class="example-full-width " appearance="fill">
              <mat-label>Account Name</mat-label>
              <input matInput placeholder="Account Name" #accountName>
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Status</mat-label>
              <mat-select #status>
                <mat-option value="active">Active</mat-option>
                <mat-option value="inactive">Inactive</mat-option>
                <mat-option value="hidden">Hidden</mat-option>
              </mat-select>
            </mat-form-field>
            <button 
            mat-raised-button 
            color="primary" 
            (click)="onCreateAccount(accountName.value, status.value)"
            >Add Account</button>
          </form>
    </div>
</div>



