<div class="my-5">
    <mat-card class="example-card">
      <button mat-raised-button color="primary"type="submit" routerLink="/edit/{{myaccount.id}}" routerLinkActive="router-link-active" >Edit</button> 
      <mat-card-content>
          <h2>{{myaccount.name}}</h2>
          <p>ID Number: {{myaccount.id}}</p>
          <p>Age: {{myaccount.age}}</p>
          <p>Gender: {{myaccount.gender}}</p>
          <p>Professions: {{myaccount.professions}}</p>
          <p>professions: {{myaccount.gender}}</p>
          <p>marital status: {{myaccount. maritalStat}}</p>
          <p>Address: </p>
          <p>{{myaccount.address.road}}, num. {{myaccount.address.number}}, {{myaccount.address.city}}, {{myaccount.address.region}}, {{myaccount.address.country}}</p>

    </mat-card-content>
      <mat-card-actions>

      </mat-card-actions>
    </mat-card>
  </div>
  